
img, figure {
    max-width: 100%; 
    height: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

figure {
    display: block;
    align-items: center;
    align-self: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
