<html>
    <head>
        <link rel="stylesheet" href="/static/tachyons.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/debug.css">
        <title>HN-Lite: Stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="debug-grid-16">
        <div class="pv4 ph3 ph5-m ph6-l mid-gray">

            <header>
                <nav class="pa3 pa4-ns">
                    <a class="link dim black b f6 f5-ns dib mr3" href="/" title="Home">HN-Lite</a>
                    <a class="link dim gray    f6 f5-ns dib mr3" href="/" title="Home">Home</a>
                    <a class="link dim gray    f6 f5-ns dib mr3" href="/about" title="About">About</a>
                    <a class="link dim gray    f6 f5-ns dib mr3" href="/metrics" title="Stats">Stats</a>
                    <a class="link dim gray    f6 f5-ns dib" href="https://github.com/indrora/" title="GitHub">GitHub</a>
                  </nav>            </header>
            {{embed}}
            
            <hr />
            <footer>
                <small class="f6 db tc">Project by <b class="ttu">indrora</b>. Content from elsewhere.</small>
                <div class="tc mt3">
                    <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
                    <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
                    <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
                </div>
            </footer> 
            
        </div>

    </body>
</html>